body {
    background-color: rgba(6, 22, 236, 0.39);
  }
  
  #endPage {
    display: none;
  }
  
  #mainLogo {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100% \9;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
  }
  
  #endPage p {
    font-size: 20px;
    /* font-weight: 700; */
  }
  
  #correctAns {
    margin-top: 32px;
  }
  
  #question {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
  }
  
  footer {
    height: 30px;
    margin-top: 30px;
  }
  
  #copyright-small {
    font-size: 12px;
  }
  
  #timer {
    margin-top: 20px;
  }
  
  #doneButton {
    margin-top: 20px;
  }